includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: true
    noEnvCallsOutsideOfConfig: false
    type_coverage:
        return: 50
        param: 35.5
        property: 70

        # since PHP 8.3
        constant: 85

